@page "/"

<PageTitle>Home</PageTitle>

<h1>Perceptrón</h1>

Esta aplicación le permite resolver operaciones utilizando un perceptrón, que es un tipo de red neuronal artificial. Puede usar esta aplicación para entrenar el perceptrón y visualizar el proceso de aprendizaje paso a paso.
